@media (max-width: 1000px) {
    .row {
        position: relative;
    }

    .col-6.p-0 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

    }

    .loginBackground,
    .forgotPasswordBackground,
    .resetPasswordBackground {
        position: relative;
        z-index: 2;
        background-color: transparent;
        backdrop-filter: blur(2px);

    }
}

/* Media query for screens smaller than 767px */
@media (max-width: 1200px) {
    .sidebar {
        transform: translateX(-100%);
        /* Hide sidebar by default */
    }

    .sidebar.show {
        transform: translateX(0);
        /* Show sidebar when toggled */
    }

    #content {
        margin-left: 0;
        /* Full width on small screens */
        padding-right: 40px;
        padding-left: 0;
        /* margin-right: 0; */
        /* padding: 20px; */
        /* width: 100%; */
    }

    .mainbody {
        margin-left: 0 !important;
    }

}

@media (max-width: 1400px) {
    .categoryTobehidden {
        display: none;
    }
}

@media (max-width: 1400px) {
    .categoryTobevisible {
        display: block;
    }

    .table-responsive {
        overflow-x: auto;
    }
}