<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaShop</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/media.css">
    @* <script src="" *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/PizzaShop.styles.css" asp-append-version="true" />
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- jQuery (required for Toastr) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <style>
        .toast-success {
            background-color: #28a745 !important;
            color: white !important;
        }

        .toast-error {
            background-color: #dc3545 !important;
            color: white !important;
        }

        .toast-warning {
            background-color: #ffc107 !important;
            color: white !important;
        }

        .toast-info {
            background-color: #17a2b8 !important;
            color: white !important;
        }
    </style>
</head>

<body>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/loginPage.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var message = "@TempData["Message"]";
            var messageType = "@TempData["MessageType"]";

            if (message) {
                switch (messageType) {
                    case "success":
                        toastr.success(message);
                        break;
                    case "error":
                        toastr.error(message);
                        break;
                    case "warning":
                        toastr.warning(message);
                        break;
                    case "info":
                        toastr.info(message);
                        break;
                }
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>